@model MedScan.Models.User

<h4>User Management</h4>
<p>Welcome to the user management page. Please fill out the below form with the username and password of the user you would either like to add, or delete, from the system. Please note that to make the addition or deletion of users from the system more efficient, there is no confirmation message for any successful updates made to the system. The password disappearing signifies success.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create User" class="btn btn-primary" asp-action="CreateUser"/>
                <input type="submit" value="Delete User" class="btn btn-primary" asp-action="DeleteUser"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}