@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MedScan</h1>
    <p>A project by Meet Nair</p>
</div>

<div class="text-left">
    <h2>Overview</h2>
    <p>MedScan works to help you digitise your data. Please look below at the user's manual for guidance on how to use our services.</p>
</div>

<div class="text-left">
    <h2>User's Manual</h2>
    <p>The first step for any user is to login. Please use the username and password set up for your account by your administrator. Should this not work, contact them for further support. <br />
    If you are an admin within MedScan's system, you will have an option to manage the list of users. Click on 'manage users' if you would like to add, delete, or view active users.</p>
    <p>Once logged in, click on 'Create Template' to scan in a form template by clicking 'Choose File'<br />
    Please ensure that this uploaded template has all the fields from which data is to be retrieved.<br />
    Please also ensure that any uploaded template does not contain any handwriting, or as little as is possible, so as not to interfere with any future processing.<br />
    Clicking 'Load' will display the uploaded template to the screen. <br />
    Using your mouse, click and drag to draw boxes around the answer fields from which data is to be received.<br />
    If any errors have been made with the boxes, please click 'Erase' to clear the screen.<br />
    Having drawn the required boxes, please click 'Finish' to save the boxes. These will be used to scan data later on.
    </p>
</div>
